<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


<!-- 负责包扫描，配置组件等 -->
	<!--1、spring不扫描控制器  -->
	<context:component-scan base-package="com.qiaoben">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>


		<!--2、数据库  -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/xiaoqiao" ></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		
		<property name="initialSize" value="5"></property>
	</bean>
	
	<!-- 配置用mybatis操作数据库 -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定mybatis全局配置文件的位置 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<!-- 指定数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 指定所有mapperxml的位置 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
	</bean>
	
	<!-- 将所有mapper接口的实现类自动加入到ioc容器中  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.qiaoben.xiaoqiao_manager.dao"></property>
	</bean>
	
	
	<!-- 配置事务 -->
	<!--Spring启动加载所有spring的配置文件都能自动找到  -->
	<!--1、配置事务管理器  -->
	<bean id="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!--2、配置事务切面  -->
	<aop:config>
		<aop:pointcut expression="execution(* com.qiaoben.xiaoqiao_manager.service.*.*(..))" id="txPoint"/>
		<!--事务增强  -->
		<aop:advisor advice-ref="myAdvice" pointcut-ref="txPoint"/>
	</aop:config>
	
	<!--3、配置事务增强  -->
	<tx:advice id="myAdvice" transaction-manager="tm">
		<!--事务属性  -->
		<tx:attributes>
			<tx:method name="*"/>
			<tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
</beans>
